annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
inquirerpy==0.3.4
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
more-itertools==10.6.0
openapi-schema-pydantic==1.2.4
pfzy==0.3.4
prompt_toolkit==3.0.50
pydantic==1.10.21
pydantic_core==2.33.1
requests==2.32.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
tqdm==4.67.1
rich==14.0.0
